*.pyc
Settings.py
MinecraftServer
MinecraftServer2
MinecraftServer2.service
MinecraftServer3
MinecraftServer3.service
MinecraftServer4
MinecraftServer4.service
MinecraftServer5
MinecraftServer5.service
