[Unit]
Description=Minecraft Server Launcher Service
After=network.target
StartLimitBurst=0

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/MCBooter
ExecStart=/usr/bin/python3 -u Launcher.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
